<section class="login-banner mt-md-0 mt-4">
  <div class="conatiner">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>About Us</h1>
        <p>Learn what makes POST YOUR CARS the industry’s leading car-selling platform</p>
      </div>
    </div>
  </div>
</section>


<section class="sec_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="post_head">
          <h3>POST YOUR CARS</h3>
          <p>In its true essence, POST is an online auctioning platform where individual vehicle owners can list their
            cars for other consumers to bid on them. <br /> <br />
            For the sellers on our platform, PostYourCars offers the utmost transparency when it comes to listing your
            vehicle on our site all the way to when your vehicle is paired and sold to another individual. Sell your car
            for retail top-dollar! Be in possession of your vehicle during the entire sales process. And let us handle
            all the paperwork involved in your sale (finance, DMV, and title). Getting the best price for your car could
            not have been any easier. <br /> <br />
            For the buyers on our platform, there are no fees or hidden charges to purchase a vehicle listed on
            PostYourCars. It’s completely FREE. Do you have a car you want to upgrade? We also help trade-in your
            current vehicle and partner with numerous lenders offering competitive rates. All listed vehicles for sale
            are verified and shot by our photographers so bid with confidence and buy the car of your dreams!
          </p>
        </div>
      </div>
    </div>


    <div class="row align-items-center mt-md-0 mt-5">
      <div class="col-lg-12 col-md-12">
        <div class="post_head">
          <h3>We believe in mutual success</h3>
          <p>Our platform mimics the logic of a free economic system with decentralized pricing giving both buyers and
            sellers an accurate picture of today’s volatile car market values.</p>
        </div>
      </div>
      <div class="mob_about mt-5 d-md-none d-block">
        <div class="row">
          <div class="col-md-6 col-6">
            <div class="text-center about_content">
              <p>
                <span class="about_icon">
                  <img src="../../../../assets/img/about/email.svg" alt="img" class="img-responsive">
                </span>
              </p>
              <h4>E-mail Marketing</h4>
              <p>POST conducts strategic e-mail marketing campaigns to directly target people interested in your car.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="text-center about_content">
              <p>
                <span class="about_icon">
                  <img src="../../../../assets/img/about/number.svg" alt="img"
                    class="img-responsive">
                </span>
              </p>
              <h4>Strength in numbers</h4>
              <p>Our platform attracts more potential buyers with our vast digital inventory bolstering your chances of a sale.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="watch_about_img">
              <img src="/assets/img/about1.png" alt="img" class="img-responsive aboutimg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-6">
            <div class="text-center about_content">
              <p>
                <span class="about_icon">
                  <img src="../../../../assets/img/about/retention.svg" alt="img"
                    class="img-responsive">
                  </span>
              </p>
              <h4>Customer Retention</h4>
              <p>We offer pricing data for purchasers to make buying decisions on the spot.</p>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="text-center about_content">
              <p style="padding-top: 18px;">
                <span class="about_icon">
                  <img
                    src="../../../../assets/img/about/marginal.svg" alt="img"
                    class="img-responsive">
                  </span>
                </p>
              <h4>Marginal Fees</h4>
              <p>When your vehicle sells, pay as little as 4%. This fee ensures that we can continue providing the best service. Buyers pay none.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 d-md-inline-block d-none pr-0 ">
          <div class="right_about paddTop">
            <p>
              <span class="about_icon">
                <img src="../../../../assets/img/about/email.svg" alt="img" class="img-responsive">
              </span>
            </p>
            <h4>E-mail Marketing</h4>
            <p>
              POST conducts strategic e-mail marketing campaigns to directly target people interested in your car.
            </p>
          </div>
          <div class="right_about">
            <p>
              <span class="about_icon">
                <img src="../../../../assets/img/about/retention.svg" alt="img" class="img-responsive">
              </span>
            </p>
            <h4>Customer Retention</h4>
            <p>We offer pricing data for purchasers to make buying decisions on the spot.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 d-md-inline-block d-none">
          <div class="about_center_img about2_img">
            <img src="/assets/img/about1.png" alt="img"
             class="img-responsive aboutimg"
             oncontextmenu="return false;">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 d-md-inline-block d-none pl-0">
          <div class="left_about right_success paddTop">
            <p>
              <span class="about_icon">
                <img src="../../../../assets/img/about/number.svg" alt="img" class="img-responsive">
              </span>
            </p>
            <h4>Strength in numbers</h4>
            <p>Our platform attracts more potential buyers with our vast digital inventory bolstering your chances of a sale.</p>
          </div>
          <div class="left_about">
            <p>
              <span class="about_icon">
                <img src="../../../../assets/img/about/marginal.svg" alt="img" class="img-responsive">
              </span>
            </p>
            <h4>Marginal Fees</h4>
            <p>When your vehicle sells, pay as little as 4%. This fee ensures that we can continue providing the best service. Buyers pay none.
            </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>

<section class="yourself_area">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-12 ">
        <div class="about_bottom">
          <h3>
            Try it for yourself
          </h3>
          <p>You are only a few steps away from getting real offers for your car. <br> Try it free.</p>
          <div class="sell_btn"><a href="/new-register">Sell My Car</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

