<section class="login-banner mt-md-0 mt-4">
    <div class="conatiner">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>POST Terms of Service</h1>
        </div>
      </div>
    </div>
  </section>
  <!--detail section-->
  <section class="page-detail mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <!--Card-->
            <div class="card">
              <div class="row">
                <div class="card-head col-md-4 col-12" id="headingOne">
                  <h2 class="mb-0 deskshow" data-target="#collapseOne">
                    <span class="deskshow-head">  1. Purpose</span>
                  </h2>
                  <h2
                    class="mb-0 mobshow"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                     1. Purpose
                  </h2>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show col-md-8 col-12"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <p>
                      The purpose of this document is to prescribe the rights,
                      obligations, and responsibilities of the user who wishes to
                      use the internet-related services (hereinafter referred to
                      as “service”) provided by the POST website and application
                      (refers to all types of ‘services’ provided by the
                      ‘company,’ which can be used freely regardless of the type
                      of wired/wireless terminal, and hereinafter referred to as
                      “POST”), operated by POST INC.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--Card-->
            <div class="card">
              <div class="row">
                <div class="card-head col-md-4 col-12" id="headingTwo">
                  <h2 class="mb-0 deskshow" data-target="#collapseTwo">
                    <span class="deskshow-head">  2. Definition</span>
                  </h2>
                  <h2
                    class="mb-0 mobshow collapsed"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                     2. Definition
                  </h2>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse col-md-8 col-12 pl-md-0"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <ul class="accordion-list accordion1-list1 p-0">
                      <li>
                        1) “POST’ refers to the price information exchange platform
                        service (online vehicle sales information service)
                        provided by POST INC. and it is also used to refer to the
                        owner/operator of the CYBER MALL.
                      </li>
                      <li>
                        2) “USER” refers to the person who accesses POST to use the
                        services provided by POST (under the terms and conditions
                        prescribed in this document).
                      </li>
                      <li>
                        3) “MEMBER” refers to the users aged 14 or older who has
                        accessed to POST and agreed to the terms and conditions of
                        this document, who can continue to use the services
                        provided by POST (including DEALER members).
                      </li>
                      <li>
                        4) “DEALER MEMBER” refers to the members of POST who have
                        obtained a DEALER status by completing the DEALER
                        registration process that has been set by POST.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <!--Card-->
          <div class="card">
              <div class="row">
                <div class="card-head col-md-4 col-12" id="headingThree">
                  <h2 class="mb-0 deskshow" data-target="#collapseThree">
                    <span class="deskshow-head"> 3. Agreement to the Terms and Conditions & Explaining/Revising</span>
                  </h2>
                  <h2
                    class="mb-0 mobshow collapsed"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="true"
                    aria-controls="collapseThree"
                  >
                   3. Agreement to the Terms and Conditions & Explaining/Revising
                  </h2>
                </div>
                <div
                  id="collapseThree"
                  class="collapse col-md-8 col-12 pl-md-0"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                      <ul class="accordion-list accordion1-list1 p-0">
                      <li>
                          1) POST will post the contents of this Terms of Service, Trade Name, Representative Name,
                          Business Address (including the address of where consumer complaints/claims can be handled),
                          Phone Number, Fax Number, E-mail Address, Business Registration Number, Mail-Order-Sales Registration Number, Personal Information Manager on the main screen (home screen) of POST so
                          that the users can easily see them. However, the contents of the Terms of Service can be set so the users can view it through a connected screen.
                      </li>
                      <li>
                         2) Before the user agrees to the Terms of Service, “POST” shall provide a separate connection
                          screen or a pop-up screen so the user can understand and agree to matters related to important
                          issues prescribed in the Terms of Service such as Withdrawal of Subscription, Delivery Policy
                          (Responsibility), Refund/Return Policy, etc.
                      </li>
                      <li>
                         3) “POST” can modify/revise this document (Terms of Service) to the extent that they do not violate the relevant laws/regulations (i.e., 「ACT ON THE CONSUMER PROTECTION IN ELECTRONIC
                          COMMERCE, ETC.」, 「ACT ON THE REGULATION OF TERMS AND CONDITIONS」, FRAMEWORK ACT ON ELECTRONIC DOCUMENTS AND TRANSACTIONS」, ELECTRONIC FINANCIAL TRANSACTIONS ACT」, 「DIGITAL SIGNATURE ACT」, 「ACT ON PROMOTION OF INFORMATION AND COMMUNICATIONS NETWORK UTILIZATION AND INFORMATION PROTECTION, ETC.」, 「ACT ON DOOR-TO-DOOR SALES, ETC.」, 「FRAMEWORK ACT ON CONSUMERS」)
                      </li>
                      <li>
                         4) If “POST” wishes to revise this document (Terms of Service), POST must announce the effective
                          date and the reasons for revision on the main page of the ‘POST Dealer Homepage’ along with the current Terms of Service (unrevised version) from 7 days before the effective date to the day before the revised version comes into effect. However, in the case where the revised version includes changes that are unfavorable towards the user, the notice shall be made at least 30 days before the revised version comes into effect. In this case, POST has the obligation to highlight the changes by comparing the old version with the revised version so the users can easily see the changes that are made.
                      </li>
  
                      <li>
                         5) In the case where POST decides to modify the Terms of Service, the revised version shall apply
                          only to contracts that are signed AFTER the revised version has come into effect. However, if a user  who has already signed a contract BEFORE the revised version has come into effect decides to send a request to POST within the notice period (See Article 3 - 4) and successfully obtain the consent of POST, the revised version of the Terms of Service can be applied.
                      </li>
                      <li>
                         6) Matters that are not prescribed in this document (Terms of Service) and the interpretation of this document shall be governed by current laws/regulations (i.e., “ACT ON THE CONSUMER
                          PROTECTION IN ELECTRONIC COMMERCE, ETC.”, “ACT ON THE REGULATION OF TERMS AND
                          CONDITIONS”, “GUIDELINES FOR CONSUMER PROTECTION IN ELECTRONIC COMMERCE, ETC.”) and business practices.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
           <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingFour">
                    <h2 class="mb-0 deskshow" data-target="#collapseFour">
                      <span class="deskshow-head"> 4. Provision & Change of Service</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="true"
                      aria-controls="collapseFour"
                    >
                   4. Provision & Change of Service
                    </h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p> 1)  “POST” performs the following tasks: </p>
                      <ul  class="accordion-list pl-3">
                        <li>
                            Providing a platform for users who want to sell their vehicles and DEALER members (who wants to
                            buy vehicles to exchange information (vehicle information, price information, etc.)
                        </li>
                        <li>
                           Other tasks determined by “POST”
                        </li>
                      </ul>
                      <p> 2) “POST’ may change the details/contents of goods (or services) to be provided in future
                          contracts in the event of a shortage of goods (or services) or a change in technical specifications. In this case, the details of the changed goods (or services) and the exact date where the goods (or services) will be provided must be notified immediately to the location (page) where the content of the current goods (or services) are posted.</p>
                      <p> 3) In the case where the content of a service that were supposed to be provided to the user by POST (through a contract) are changed due to reasons such as a shortage of goods, changes in technical specifications, etc., the reason MUST be informed to the user immediately.</p>
                      <p> 4) In the case of the previous paragraph, POST must compensate the users for the damage caused
                          by the event. However, such compensation does not need to be made if POST proves that such
                          change was not intentional or caused by POST’s negligence.</p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingFive">
                    <h2 class="mb-0 deskshow" data-target="#collapseFive">
                      <span class="deskshow-head">  5. Limitation & Suspension of Service Use</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="true"
                      aria-controls="collapseFive"
                    >
                     5. Limitation & Suspension of Service Use
                    </h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) The Service Contract is established when a user signs that he (or she) agrees to this document (Terms of Service) and applies for the use of the service. However, in the cases below, POST can terminate the Service Contract.</p>
                        <ul  class="accordion-list pl-3">
                          <li>
                              In the case when there is a false information, omission, or error in the application requesting the  use of the service;
                          </li>
                          <li>
                              In the case where it is deemed that it is inappropriate for the company to provide the service to the user due to significant reasons;
                          </li>
                          <li>
                              In the case where it is deemed that providing other services can significantly interfere/violate POST’s current policy/technology;
                          </li>
                        </ul>
                          
                        <p> 2) In the case where there is a change in the information provided to POST regarding the application to use the service, the user shall IMMEDIATELY inform the change to POST via E-mail
                           <span class="emailtext"> (​ info@inpublic.com​ ) </span> or other means. </p>
                        <p> 3) The user shall follow the procedures provided by POST (i.e., Notice, Service Guide, ‘How to Sell Your Car’, etc.). The user shall also understand the service content and limitations of liability information (posted in ‘Notice’ and ‘Service Guide’).</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingSIx">
                    <h2 class="mb-0 deskshow" data-target="#collapseSix">
                      <span class="deskshow-head">  6. Membership</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="true"
                      aria-controls="collapseSix"
                    >
                     6. Membership
                    </h2>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingSIx"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) The user can sign up for a membership by filling out the subscription form set by “POST” and expressing his (or her) consent to this document (Terms of Service). </p>
                        <p> 2) After the application has been successfully submitted (according to Article 6 - 1), POST shall register the user as a member unless the user falls under any of the following cases:</p>
                        <ul  class="accordion-list pl-3">
                          <li>
                              If an applicant has previously lost his/her status as a member a pursuant to Article 7 - 3 of this document. However, the applicant can be accepted as a member if 3 years has already passed since he/she lost his/her membership under Article 7 - 3 and has obtained the approval from “POST” to rejoin as a member;
                          </li>
                          <li>
                              In the case when there is a false information, omission, or error in the application requesting the use of the service;
                          </li>
                          <li>
                              In the case where it is deemed that registering the applicant as a member significantly interferes with the current policies/technologies of “POST”
                          </li>
                        </ul>
                        <p> 3) The membership contract shall come into effect when the approval of “POST” reaches the
                            applicant.</p>
                        <p> 4) If there is a change in the information submitted to “POST” compared to the time of membership registration, the member MUST inform the change to “POST” within a considerable period of time via various methods (i.e., modifying member information, etc.)]</p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingSeven">
                    <h2 class="mb-0 deskshow" data-target="#collapseseven">
                      <span class="deskshow-head">  7. Withdrawal of Membership & Disqualification</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseseven"
                      aria-expanded="true"
                      aria-controls="collapseseven"
                    >
                     7. Withdrawal of Membership & Disqualification
                    </h2>
                  </div>
                  <div
                    id="collapseseven"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingSeven"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1)The member may request a withdrawal from “POST” at any time. In this case, “POST’ shall accept the request and proceed with the withdrawal process immediately. </p>
                        <p> 2) If a member falls under any of the following reasons, “POST” may suspend or disqualify a member</p>
                        <ul  class="accordion-list pl-3">
                          <li>
                              In the case where a member submitted false information in their application for registration;
                          </li>
                          <li>
                              In the case where the member fails to pay for the goods, services, etc., purchased via POST (or other obligations incurred) within the due date;
                          </li>
                          <li>
                              In the case where the member has threatened the order of e-commerce (i.e., interfering other members from using “POST”, stealing other’s personal information, etc.);
                          </li>
                          <li>
                              In the case where the member performs illegal, immoral acts that are prohibited by law, document, or public order and decency using “POST”;
                          </li>
                          <li>
                              In the case where a DEALER member violates the ‘Dealer Member POST Guide’ while using
                              “POST” (In this case, the ‘Dealer Member Warning Policy’ will be applied)
                          </li>
                        </ul>
                        <p> 3) When a member who has already been suspended by “POST” fails to correct their behavior within 30 days or repeats the same act more than twice, “POST” can disqualify the user’s status as a ‘member.’</p>
                        <p> 4) In the case where “POST” decides to disqualify a member, the membership registration of said member will be cancelled and deleted. In this case, the user shall be notified and will be given an opportunity to explain at least 30 days prior to the cancellation of the membership.</p>
                    </div>
                  </div>
                </div>
              </div>
          <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingEight">
                    <h2 class="mb-0 deskshow" data-target="#collapseEight">
                      <span class="deskshow-head">  8. Notification</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseEight"
                      aria-expanded="true"
                      aria-controls="collapseEight"
                    >
                    8. Notification
                    </h2>
                  </div>
                  <div
                    id="collapseEight"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingEight"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) In the case where “POST” needs to make a notification to a member, the notification can be made via an e-mail address designated by the user.</p>
                        <p> 2) In the case of notifications for a ‘large number of unspecified members,’ “POST” can upload the notice to the ‘Notice’ board for more than one week instead of sending notifications to each individual member. However, individual notification MUST be given regarding matters that have a considerable impact on the member’s own (personal) transaction.</p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingNine">
                    <h2 class="mb-0 deskshow" data-target="#collapseNine">
                      <span class="deskshow-head"> 9. Service Fee</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseNine"
                      aria-expanded="true"
                      aria-controls="collapseNine"
                    >
                     9. Service Fee
                    </h2>
                  </div>
                  <div
                    id="collapseNine"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingNine"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) In order for a user to use the service, they MUST follow the procedures posted by “POST” (i.e., Notice, Service Guide, etc.). The user shall also understand the service content and limitations of liability information (posted in ‘Notice’ and ‘Service Guide’). In the case of DEALER members, they must enter their REAL NAME when making an application for using the service.</p>
                        <p> 2) The service fee for “POST” shall be determined according to the information posted by “POST” on the Notice board or relevant Service Use Guidelines. The services provided by “POST” shall be FREE OF CHARGE unless posted or presented separately.</p>
                        <p>
                            3) In the case where “POST” is in a situation where it cannot provide the goods (or services) requested (purchased) by the user due to various reasons, “POST” shall, without any delay’ notify the reason to the user. If the payments of the goods (or services) have been made in advance, the contract shall be terminated, and the user shall receive a refund within THREE DAYS of the occurrence of the cause.
                        </p>
                        <p>
                           4) Refunds are NOT AVAILABLE for users who are using the ‘paid services’ provided by “POST”
                            when they are suspended due to ‘improper use’ (i.e., false quotation, failure to comply with POST DEALER Member Sales Guideline, unfair discount (depreciation), delay in transfer of ownership, etc.)
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingTen">
                    <h2 class="mb-0 deskshow" data-target="#collapseTen">
                      <span class="deskshow-head"> 10. Establishment of Service Contract</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTen"
                      aria-expanded="true"
                      aria-controls="collapseTen"
                    >
                     10. Establishment of Service Contract
                    </h2>
                  </div>
                  <div
                    id="collapseTen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingTen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) “POST” may not accept an application for purchase (see Article 9) if it falls under any of the following subparagraphs. However, in the case of signing a contract with a minor, “POST” MUST notify the user that if the consent of his/her legal representative is not obtained, the user himself/herself or his/her legal representative can cancel the contract.</p>
                        <ul  class="accordion-list pl-3">
                          <li>
                              In the case when there is a false information, omission, or error in the application
                          </li>
                          <li>
                              IN the case where the minor has purchased goods/services that are prohibited by the YOUTH
                              PROTECTION ACT (i.e., cigarettes, alcohol, etc.)
                          </li>
                          <li>
                              In the case where it is deemed that accepting to other purchase request significantly interferes with POST’s current policy/technology;
                          </li>
                         
                        </ul>
  
                        <p> 2) The contract is deemed to have been established from the point where the approval of “POST” has reached the user in the form of ‘Notice of Acknowledgment of Receipt’ (see Article 12 - 1)</p>
  
                        <p> 3) The approval of “POST” must include information on the confirmation of the user’s purchase request, availability of the good/service (whether the good/service can be sold), cancellation of correction of the purchase request, etc.</p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingEleven">
                    <h2 class="mb-0 deskshow" data-target="#collapseEleven">
                      <span class="deskshow-head">  11. Protection of Personal Information & Consent to Provide Personal Information</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseEleven"
                      aria-expanded="true"
                      aria-controls="collapseEleven"
                    >
                     11. Protection of Personal Information & Consent to Provide Personal Information
                    </h2>
                  </div>
                  <div
                    id="collapseEleven"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingEleven"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) “POST collects the minimum amount of information required to provide services when collectinginformation from our members. The following items are deemed ‘mandatory,’ while other items are considered ‘optional.’</p>
                        <p> 1. NORMAL Members (All members EXCEPT DEALER members)</p> 
                        <ul  class="accordion-list pl-3">
                          <li> Device ID</li>
                          <li> Mobile Phone Number</li>
                        </ul>
                        <p> 2. DEALER Members</p> 
                        <ul  class="accordion-list pl-3">
                          <li> Desired ID</li>
                          <li> Password</li>
                          <li>Name</li>
                          <li>Title (Job)</li>
                          <li>Affiliated Sales Complex</li>
                          <li>Affiliated Agency</li>
                          <li>Phone Number (of Affiliated Agency)</li>
                          <li>Dealer ID Card (Photo, Front/Back Side)</li>
                          <li>Dealer ID Card Expiration Date</li>
                          <li>Experience as a Dealer</li>
                          <li>Mobile Phone Number</li>
                          <li>E-mail Address</li>
                          <li>Profile Photo</li>
                          <li>
                              Greetings Message
                          </li>
                          <li>
                              Subscription Path </li>
                          <li> Reason why you Joined POST  </li>
                          <li>  Sales Information System that you are Currently Using
                          </li>
                          <li> Information required for the issuance of a Tax Invoice or Cash Receipt (according to the designation of industry for which cash receipts are mandatory)</li>
                        </ul>
                        <p> 2) “POST” complies with the provisions of relevant laws, such as the ACT ON PROMOTION OF
                            INFORMATION AND  COMMUNICATIONS NETWORK UTILIZATION AND INFORMATION PROTECTION, ETC., PERSONAL INFORMATION PROTECTION ACT, etc., to protect the personal information of the members.’</p>
                        <p> 3) “POST” has established and posted a ‘Privacy Policy’ and designated a dedicated personal
                            information manager to protect the personal information of the members.</p>
                        <p> 4) The company’s ‘Privacy Policy’ DOES NOT apply to external sites (linked sites) outside of the official site of “POST.” The member shall be fully responsible for checking the third party’s privacy policy regarding how they handle the information of their users/members, and the company (“POST”) SHALL NOT be held responsible for any events that occur outside of our website/application.</p>
                        <p> 5) “POST” shall not use any information provided by the user/member for any purpose other than the operation of the company’s service and shall not provide them to a third party without the consent of the user/member. However, exceptions can be made in the following cases.</p>
                        <ul  class="accordion-list pl-3">
                            <li>In the case where the use of user/member information and the provision of personal information to a third party is allowed based on current law/regulation; </li> 
                            <li> In the case where the minimum amount of personal information must be provided for tasks such as delivery, consignment, booking, etc.;  </li>
                            <li> In the case where the company has obtained the consent of the user in accordance with the company’s terms/conditions/policies.</li> 
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
          <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingTwelve">
                    <h2 class="mb-0 deskshow" data-target="#collapseTwelve">
                      <span class="deskshow-head"> 12. Obligations of “POST”</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwelve"
                      aria-expanded="true"
                      aria-controls="collapseTwelve"
                    >
                     12. Obligations of “POST”
                    </h2>
                  </div>
                  <div
                    id="collapseTwelve"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingTwelve"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p> 1) “POST” shall not perform any acts that violates the public order and decency or prohibited by current statutes or this document, and shall do its best to continuously provide quality goods/services as prescribed by this document.</p>
                      <p> 2) “POST” shall establish a proper security system for protecting the users’ personal information (including credit information) to ensure that the users can use Internet services safely.</p>
                      <p> 
                          3) “POST” shall not send any promotional e-mails for commercial purposes if the user does not want to receive such mail.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingThirteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseThirteen">
                      <span class="deskshow-head"> 13. Obligations of the User (Regarding their ID & PW)</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThirteen"
                      aria-expanded="true"
                      aria-controls="collapseThirteen"
                    >
                     13. Obligations of the User (Regarding their ID & PW)
                    </h2>
                  </div>
                  <div
                    id="collapseThirteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingThirteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p>
                          1) Except for the cases written in Article 11, the member shall be fully responsible for the
                          management of their ID and Password. </p>
                          <p> 2) Members shall now allow third parties to gain access to or use their ID and Password. </p>
                          <p> 3) If a member recognizes that his/her ID/PW has ben stolen or used by an unauthorized third party, he/she shall immediately notify “POST” and follow the instructions of “POST.”
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingFourteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseFourteen">
                      <span class="deskshow-head">  14. Obligations of the User</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFourteen"
                      aria-expanded="true"
                      aria-controls="collapseFourteen"
                    >
                     14. Obligations of the User
                    </h2>
                  </div>
                  <div
                    id="collapseFourteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingFourteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <p>The user SHALL NOT do the following:</p>
                      <ul class="accordion-list p-0">
                        <li>
                            Submitting/Providing false information regarding the application for the use of services, information changes, and use of other services;
                        </li>
                        <li>
                            Stealing the personal information of others;
                        </li>
                        <li>
                            Altering or deleting information submitted/posted by “POST” or a third party on “POST”;
                        </li>
                        <li>
                            Sending or posting unauthorized information (computer programs, etc.) other than the information set by “POST”;
                        </li>
                        <li> Infringement of intellectual property rights (copyright, trademark, patent), privacy rights, or any other legal or contractual rights of “POST” or other third parties;</li>
                        <li> Any actions that damages the reputation/honor of “POST” or other third parties + Any actions that are considered as an obstruction of business;</li>
                        <li>
                            Disclosure, posting, or uploading any information (written/voice/image/etc.) to “POST” that are considered violent, sexual, anti-social, or goes against public order and decency;
                        </li>
                        <li>
                            Any actions that violates current statutes, court rulings, decisions, orders, or administrative measures that have (legally) binding power, or any acts that are against public order and good customs;
                        </li>
                        <li>
                            Other acts determined, posted, and announced by “POST” as inappropriate in the form of a
                            notice/policy/etc.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
             <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingFifteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseFifteen">
                      <span class="deskshow-head"> 15. Withdrawal of Subscription, etc.</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFifteen"
                      aria-expanded="true"
                      aria-controls="collapseFifteen"
                    >
                     15. Withdrawal of Subscription, etc.
                    </h2>
                  </div>
                  <div
                    id="collapseFifteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingFifteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                     <p>
                        1) Users/Members who has entered a contract with POST regarding the user of goods/services/etc.
                        may withdraw their subscription within 7 days from the date of receiving the written copy of the
                        contract.</p>
                       <p>  2) If a user requests a withdrawal within 7 days without using any of the services provided by the company, he/she can receive a full refund. However, the user must pay for the costs that occur during the refund process. </p>
                       <p> 3) When a user requests a withdrawal from the service AFTER using the service provided by the
                        company, he/she will receive a refund after deducting a certain amount according to the number of days he/she used the service + a penalty within 10% of the total amount used. However, if the user requests a withdrawal within 7 days after using the service provided by the company, he/she will receive a refund after deducting a certain amount according to the number of days he/she used the service, without any penalty. </p>
                       <p> 4) Services provided by “POST” may include services that cannot be withdrawn as prescribed by the CONTENT INDUSTRY PROMOTION ACT and CONTENT USER PROTECTION GUIDELINE. In this case, given that “POST” has included such information in the Service Guide, “POST” can partially restrict the users’ right to withdraw their subscription.
                     </p>
                    </div>
                  </div>
                </div>
              </div>
           <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingSixteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseSixteen">
                      <span class="deskshow-head"> 16. Relationship Between Higher (PARENT) POST and Lower (CHILD) POST</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseSixteen"
                      aria-expanded="true"
                      aria-controls="collapseSixteen"
                    >
                    16. Relationship Between Higher (PARENT) POST and Lower (CHILD) POST
                    </h2>
                  </div>
                  <div
                    id="collapseSixteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingSixteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) If a ‘high-tier’ “POST” and ‘low-tier’ “POST” are connected by a hyperlink (e.g., the subject of hyperlinks includes letters, images, videos, etc.), the former is called a ‘PARENT’ “POST’ and the latter is called a ‘CHILD’ “POST.” </p>
                        <p> 2) In the case where the Parent “POST” informs (through the main screen or a pop-up screen that appears at the time of connection) that it shall not be liable for the transactions made by the Child “POST” that are based on the goods/services that are independently provided by the Child “POST,” the Parent “POST” shall not be held responsible for any of the transactions made by the Child “POST.” </p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingSeventeen">
                    <h2 class="mb-0 deskshow" data-target="#collapseSeventeen">
                      <span class="deskshow-head">  17. Attribution of Copyright & Usage Restrictions </span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseSeventeen"
                      aria-expanded="true"
                      aria-controls="collapseSeventeen"
                    >
                    17. Attribution of Copyright & Usage Restrictions
                    </h2>
                  </div>
                  <div
                    id="collapseSeventeen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingSeventeen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                        <p> 1) The copyright and other intellectual property rights for works created by “POST” fully belongs to “POST” </p>
                        <p> 2 The user SHALL NOT use (or let a third party use) any information obtained during the use of “POST” (of which the intellectual property right belongs to “POST”) for commercial purposes (i.e., reproduction, transmission, publication, distribution, broadcasting, or any other means) without the prior consent of “POST.” </p>
                        <p> 3) In the case where “POST” attempts to use any information that belongs to a specific user (in accordance with the agreement), “POST” must notify the user beforehand. </p>
                    </div>
                  </div>
                </div>
              </div>
            <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="haedingEightteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseEightteen">
                     <span class="deskshow-head">  18. Dispute Resolution</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseEightteen"
                      aria-expanded="true"
                      aria-controls="collapseEightteen"
                    >
                    18. Dispute Resolution
                    </h2>
                  </div>
                  <div
                    id="collapseEightteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="haedingEightteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                       <p>  1) “POST” shall establish and operate a dedicated department that specializes in dispute resolution & damage compensation to accept opinions, receive complaints, and compensate for damages. </p>
                       <p>  2) “POST” shall deal with complaints/claims/opinions submitted by the users above everything.
                        However, in the case where it is difficult to provide immediate answers/actions to such
                        complaints/claims, the user will be immediately notified of the reason of the delay and when the
                        complaint/claim will be handled. </p>
                       <p> 3) If a user files a request for relief to damage related to an e-commerce dispute between “POST,” the dispute may be resolved according to the orders of the Fair Trade Commission or a dispute mediation agency selected (requested) by the mayor or governor. </p>
                    </div>
                  </div>
                </div>
              </div>
           <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingNineteen">
                    <h2 class="mb-0 deskshow" data-target="#collapseNineteen">
                      <span class="deskshow-head">  19. Jurisdiction & Governing Law</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseNineteen"
                      aria-expanded="true"
                      aria-controls="collapseNineteen"
                    >
                    19. Jurisdiction & Governing Law
                    </h2>
                  </div>
                  <div
                    id="collapseNineteen"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingNineteen"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                       <p>  1) A lawsuit concerning an e-commerce dispute between “POST” and a user shall be governed by the local court of the address of the user at the time of the filing. In the case where the user has no address, the local court in charge of the user’s residence shall have exclusive jurisdiction. However, if the address or residence of the user is not clear at the time of the filing, the case shall be sent to the competent court under the Civil Procedure Act. </p>
                      <p>   2) The laws of California shall apply to the e-commerce lawsuits filed between the user and “POST.” </p>
                    </div>
                  </div>
                </div>
              </div>
          <!--Card-->
            <div class="card">
                <div class="row">
                  <div class="card-head col-md-4 col-12" id="headingTwenty">
                    <h2 class="mb-0 deskshow" data-target="#collapseTwenty">
                      <span class="deskshow-head"> 20. Addendum</span>
                    </h2>
                    <h2
                      class="mb-0 mobshow collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwenty"
                      aria-expanded="true"
                      aria-controls="collapseTwenty"
                    >
                   20. Addendum
                    </h2>
                  </div>
                  <div
                    id="collapseTwenty"
                    class="collapse col-md-8 col-12"
                    aria-labelledby="headingTwenty"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                       <p>   A. This document (Terms of Service) shall come into effect from 00/00/2020</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  