<section class="login-banner mt-md-0 mt-4">
  <div class="conatiner">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>FAQ's</h1>
        <!-- <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p> -->
      </div>
    </div>
  </div>
</section>

<!--detail section-->

<section class="page-detail mt-3 mb-5">
  <div class="container">


    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordionExample">
          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingOne">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Q: Is POST a dealership?
                </h2>
              </div>

              <div id="collapseOne" class="collapse show col-md-12 col-12" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. POST (PostYourCars Inc.) is a licensed DMV (Department of Motor Vehicles) dealership, meaning
                    we have met all requirements to purchase / retail vehicles to or from private parties. POST is also
                    a bonded dealer, guaranteeing that we adhere to all state laws, statues, and regulations the DMV
                    sets forth.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwo">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                  Q: Why should I sell my car with PostYourCars?
                </h2>
              </div>

              <div id="collapseTwo" class="collapse col-md-12 col-12" aria-labelledby="headingTwo"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p class="mb-0">
                    There are numerous value propositions to selling your car with us. First off, you maintain
                    possession of your car during the entire sales process. You do not have to leave it at a dealership.
                    You are able to drive the car freely as you wish. Since your car is going to be listed online, we
                    will open up the market for your car to every individual car buyer in the United States. Expanding
                    your buying audience results in quicker sell times and higher priced retail offers. We also offer
                    financing and leasing options to your buyer as most Americans require some form of financing in
                    order to acquire a vehicle. PostYourCars engages in proprietary industry leading targeted marketing
                    to ensure that we will get enough qualified eyeballs on your car listing to get your car sold at the
                    highest market prices in the shortest amount of time. You will have a dedicated POST sales
                    representative at your disposal to answer any questions you may have during the sales process and
                    someone with the sales tools needed to maximize performance. And once your car is sold, we handle
                    all the paperwork (DMV, Title, Finance) involved to complete the sale and transfer. There are no
                    fees to list your car on our platform.

                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingThree">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                  Q: How do I sell my car?
                </h2>
              </div>

              <div id="collapseThree" class="collapse col-md-12 col-12" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    You can sell your vehicle entirely online through the POST platform and have it picked up once it
                    has been sold. How does it work?
                  </p>

                  <ol class="accordion-list1 pt-1 ml-0 pl-4">
                    <li>
                      <span class="list_text_line"> Start by getting your free vehicle appraisal </span> by chatting
                      with our online specialist. We will ask you for your vehicle’s VIN #, mileage, and any extra
                      features, then shortly send you an appraisal. This appraisal will show you different options you
                      may want to consider such as current used car market conditions, your risk profile, and desired
                      timeframe to sell the car.
                    </li>
                    <li>
                      <span class="list_text_line"> Get us photos of your vehicle</span>. PostYourCars cannot stress the
                      importance of having
                      great looking photos of your vehicle. Most people will be buying your car sight unseen so
                      spectacular photos are instrumental in selling your car quickly and at a favorable selling price.
                      And the opposite is usually true as well – poor subpar photos will delay your vehicle’s sale and
                      result in low-ball offers you will probably reject. <br />
                      We offer a POST+ service with professional photography for only $125 where you pay the
                      photographer directly. This is highly recommended for luxury vehicles or anyone wanting to sell
                      their car at retail top dollar. A prequalified automotive photographer will come to your location
                      and shoot the car – simple, fast, and convenient.
                      If you think you are a great photographer and would like to supply your own vehicle photos you as
                      the seller have that option too.
                    </li>
                    <li>
                      <span class="list_text_line"> Your car listing goes live </span>, after steps 1 & 2 have been
                      completed. PostYourCars
                      actively markets your car for sale online nationwide through PostYourCars.com and other automotive
                      and social media websites. Our sales team fields all buyer inquiries for your vehicle and once we
                      get an offer on your car our sales team will reach out to you to discuss next steps.
                    </li>
                    <li>
                      <span class="list_text_line"> You get paid </span> immediately once the car is sold and in our
                      possession.. We handle all DMV, title transfer, and finance/lease paperwork for you and for the
                      buyer so you won’t have to step foot into any DMV office, car dealership, or bank. Let us do all
                      the work for you.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingFour">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                  Q: When do I get paid?
                </h2>
              </div>

              <div id="collapseFour" class="collapse col-md-12 col-12" aria-labelledby="headingFour"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    POST operates like other licensed DMV car dealerships regarding payment. Once your vehicle is in our
                    possession, payment will be sent out to you via bank wire or check.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingFive">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">
                  Q: How will I get proof that ownership of my vehicle has been transferred?
                </h2>
              </div>

              <div id="collapseFive" class="collapse col-md-12 col-12" aria-labelledby="headingFive"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p class="mb-0">
                    A copy of the DMV Bill of Sale and a Notice of Transfer and Release of Liability will be provided to
                    you upon completion of your vehicle’s sale.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingSix">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                  Q: What documentation is required from me to sell my car?
                </h2>
              </div>

              <div id="collapseSix" class="collapse col-md-12 col-12" aria-labelledby="headingSix"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p class="mb-0">
                    Our POST team will ask you to provide a copy of your driver’s license and a picture of your current
                    odometer reading.
                  </p>
                  <p class="mb-0">
                    If you own the car outright, we will also need: <br />
                    Picture of the Title (front and back) and DMV Registration. All 4 corners of the document must be
                    visible in the picture.
                  </p>
                  <p class="mb-0">
                    If you have a lien on your vehicle: <br />
                    Copy of your DMV Registration with lien holder information and your vehicle’s 10-day payoff
                    statement.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingSeven">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                  Q: Is there a fee for selling my car?
                </h2>
              </div>

              <div id="collapseSeven" class="collapse col-md-12 col-12" aria-labelledby="headingSeven"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    PostYourCars withholds 4% of the car’s final selling price as our fee. If your car does not sell,
                    there is no fee. List your car on our platform for free and only pay if it gets sold by us. Pick-up
                    of your vehicle is free too.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingEight">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                  Q: What can I expect during the POST selling process?
                </h2>
              </div>

              <div id="collapseEight" class="collapse col-md-12 col-12" aria-labelledby="headingEight"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    After your car has been listed live for sale, there is really nothing else for you to do in the
                    meantime as our team takes over. Let us do what we do best – selling cars. You can just sit back and
                    relax. A designated sales team professional will reach out to you after we have received a serious
                    inquiry on your vehicle or if we have any suggestions on how we can increase the activity / leads on
                    your vehicle listing. If at any time you have questions you can reach out to your designated
                    PostYourCars sales professional.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingNine">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseNine" aria-controls="collapseNine">
                  Q: What preparations do I need to do for selling my car?
                </h2>
              </div>

              <div id="collapseNine" class="collapse col-md-12 col-12" aria-labelledby="headingNine"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    We will need great looking pictures of your vehicle so thoroughly vacuum and clean your car and
                    remove all personal belongings inside the car and trunk before attempting to get the car
                    photographed. If you have any valuable service records of the car you would like to hand over to the
                    buyer, please gather them and put them in the glove compartment.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTen" aria-controls="collapseTen">
                  Q: Am I obligated to sell my car if I get an offer?
                </h2>
              </div>

              <div id="collapseTen" class="collapse col-md-12 col-12" aria-labelledby="headingTen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    No. You are the vehicle owner and the decision maker. Any offers received on your vehicle are
                    communicated directly to you and you can either reject, counter offer, or accept them.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingEleven">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseEleven" aria-controls="collapseEleven">
                  Q: Will POST come to pick up my car?
                </h2>
              </div>

              <div id="collapseEleven" class="collapse col-md-12 col-12" aria-labelledby="headingEleven"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. Once the car is sold it can be safely picked up and transported to the buyer. Please note we
                    only pick up vehicles within the contiguous 48 states.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwelve">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwelve" aria-controls="collapseTwelve">
                  Q: Will I need to do test-drives for my car?
                </h2>
              </div>

              <div id="collapseTwelve" class="collapse col-md-12 col-12" aria-labelledby="headingTwelve"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    In some cases, yes. Highly pre-qualified prospective buyers may request to do a test drive. We can
                    minimize the test drive requests if we have spectacular photos of your car. All buyers requesting to
                    do a test drive will need to give us a copy of their driver’s license and auto insurance card.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingThirteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseThirteen"
                  aria-controls="collapseThirteen">
                  Q: How do I buy a car on PostYourCars.com?
                </h2>
              </div>

              <div id="collapseThirteen" class="collapse col-md-12 col-12" aria-labelledby="headingThirteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    After narrowing down to a single car from our vast inventory, please chat with one of our online
                    specialists to get started on your vehicle purchase. All we need to know initially is what price you
                    want to offer for the car, whether you will require financing, and if you need help with car
                    transportation and delivery.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingFourteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFourteen"
                  aria-controls="collapseFourteen">
                  Q: Is the car still available to buy?
                </h2>
              </div>

              <div id="collapseFourteen" class="collapse col-md-12 col-12" aria-labelledby="headingFourteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. If the car is listed for sale on PostYourCars.com the car is available to purchase.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingFifteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseFifteen" aria-controls="collapseFifteen">
                  Q: Is there a fee to buy a car on PostYourCars?
                </h2>
              </div>

              <div id="collapseFifteen" class="collapse col-md-12 col-12" aria-labelledby="headingFifteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    No fees. It’s completely free.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingSixteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseSixteen" aria-controls="collapseSixteen">
                  Q: Does PostYourCars offer financing?
                </h2>
              </div>

              <div id="collapseSixteen" class="collapse col-md-12 col-12" aria-labelledby="headingSixteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. We offer used car financing through several reputable parties we have partnered with to get you
                    the best available rates. We also offer used car leasing options too
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingSeventeen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseSeventeen"
                  aria-controls="collapseSeventeen">
                  Q: My credit rating is low. Can I finance with PostYourCars?
                </h2>
              </div>

              <div id="collapseSeventeen" class="collapse col-md-12 col-12" aria-labelledby="headingSeventeen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. We can accommodate almost all credit profiles.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingEightteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseEightteen"
                  aria-controls="collapseEightteen">
                  Q: Can I trade in my car to upgrade?
                </h2>
              </div>

              <div id="collapseEightteen" class="collapse col-md-12 col-12" aria-labelledby="headingEightteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. We can custom tailor a deal that suits your needs. We would just need to get the VIN # and
                    mileage of your car you are trading in. Sell and Buy your car all in one transaction!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingNineteen">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseNineteen"
                  aria-controls="collapseNineteen">
                  Q: How do I know the car I am buying is in great condition?
                </h2>
              </div>

              <div id="collapseNineteen" class="collapse col-md-12 col-12" aria-labelledby="headingNineteen"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    All POST+ vehicles are verified by our photographers to ensure that the car photos shown in the
                    PostYourCars listings are real photographs of the car you are buying. A current CarFax report is
                    available for you to view which shows the car’s service history and accident report history (if
                    any).
                    <br />
                    We also can help you coordinate a Pre-Purchase Inspection (PPI) done on the vehicle. A hired
                    licensed mechanic will physically go out and conduct a thorough 150-point inspection and test-drive,
                    and send back a full report for you to review. It is imperative that you buy with confidence.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwenty">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwenty" aria-controls="collapseTwenty">
                  Q: Can I get a PPI (Pre Purchase Inspection) done on the car?
                </h2>
              </div>

              <div id="collapseTwenty" class="collapse col-md-12 col-12" aria-labelledby="headingTwenty"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. Please reach out to a POST agent and we can help coordinate the PPI on your behalf. We have a
                    list of third party PPI inspection companies we trust or we can use any inspection company of your
                    choosing.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentyone">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentyone"
                  aria-controls="collapseTwentyone">
                  Q:  I feel uncomfortable buying a car that I cannot see and touch. Is this normal?
                </h2>
              </div>

              <div id="collapseTwentyone" class="collapse col-md-12 col-12" aria-labelledby="headingTwentyone"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Some people may feel nervous buying a car for the first time sight unseen, however purchasing a car online is the new way to car buying as this opens your selection to vehicles all across the country instead of only a few at your local dealership.  PostYourCars is a licensed DMV dealership so we follow all mandatory guidelines involved in buying and selling vehicles.. Build confidence in your purchase by getting a third party PPI (Pre Purchase Inspection) done on the car.  An independent licensed mechanic will physically go out and conduct a thorough 150-point inspection and test-drive.  A full report along with pictures will be available for you to review so you can make a more informed car purchase decision.  There is really no need for you to see and touch the car.  Let the pros look under the hood for you as they are the ones who know what to look for if there are potential problems.  
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentytwo">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentytwo"
                  aria-controls="collapseTwentytwo">
                  Q: Can I do a test-drive or inspect the car I’m interested in buying?
                </h2>
              </div>

              <div id="collapseTwentytwo" class="collapse col-md-12 col-12" aria-labelledby="headingTwentytwo"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. We can coordinate a test-drive / inspection for you with the vehicle. You will be asked to provide us with a copy of your driver’s license and auto insurance card before doing a test drive, which is mandatory.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentythree">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentythree"
                  aria-controls="collapseTwentythree">
                  Q: How do I do a test drive if I am not located near the vehicle?
                </h2>
              </div>

              <div id="collapseTwentythree" class="collapse col-md-12 col-12" aria-labelledby="headingTwentythree"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    We can help arrange to get a PPI (Pre Purchase Inspection) for the car where an independent licensed mechanic test drives the car for you and conducts a 150 point inspection and writes a comprehensive report on the car. Think of this as a remote test drive.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentyfour">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentyfour"
                  aria-controls="collapseTwentyfour">
                  Q: Can I get the car shipped to me?
                </h2>
              </div>

              <div id="collapseTwentyfour" class="collapse col-md-12 col-12" aria-labelledby="headingTwentyfour"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Absolutely! We can help arrange car transportation for you at industry leading rates if needed.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentyfive">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentyfive"
                  aria-controls="collapseTwentyfive">
                  Q: Are the car listing prices negotiable?
                </h2>
              </div>

              <div id="collapseTwentyfive" class="collapse col-md-12 col-12" aria-labelledby="headingTwentyfive"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    In most cases, the listing prices are not firm and can be negotiated.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!--card-->
          <div class="card">
            <div class="row">
              <div class="card-head col-md-12 col-12" id="headingTwentysix">
                <h2 class="mb-0" data-toggle="collapse" data-target="#collapseTwentysix"
                  aria-controls="collapseTwentysix">
                  Q:  Can I get a CarFax or Buildsheet for the car?
                </h2>
              </div>

              <div id="collapseTwentysix" class="collapse col-md-12 col-12" aria-labelledby="headingTwentysix"
                data-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Yes. Please check the vehicle listing for the car’s current CarFax and Buildsheet. 
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- <div class="col-md-12 mt-3">
        <p class="info_para"> If at any point you are confused or worried about the process, don’t hesitate to contact
          the POST Support Team. You can chat with us from within our web, email us at <a
            href="mailto:info@inpublic.com"> info@inpublic.com </a> </p>
      </div> -->
    </div>
  </div>
</section>