<!-- Modal content-->
<div class="modal-content make-anoffercontent available-items" style="cursor: pointer;">
  <div class="modal-header border-0">
    <h5 class="header">Post Market Value Info </h5>
    <button type="button" class="close" (click)="close()">
      <img src="/assets/icons/carcross.png" alt="Image" />
    </button>
  </div>
  <div class="modal-body">
    <p class="aboutCar">
      The POST Market Value (PMV) is PostYourCar’s estimated retail price for a car based on a detailed analysis of
      comparable current and previously sold cars as well as verified purchase offers. Our analysis takes into account
      specific details including premium options & packages, year, greater availability, demand, and condition.
      PostYourCar’s PMV should be used as a guide for making an educated offer decision. PostYourCar strives to provide
      a full transparent car purchasing experience.</p>
    <br>
    <h5 class="header">FAQ </h5>
    <div class="row">
      <div class="col-md-2">
        <p class="aboutCar">Question:</p>
      </div>
      <div class="col-md-10">
        <p class="aboutCar">My bid is lower than the highest bid. Can my offer still be accepted?</p>
      </div>
      <div class="col-md-2">
        <p class="aboutCar">Answer:</p>
      </div>
      <div class="col-md-10">
        <p class="aboutCar"> Absolutely! The highest offer doesn’t always get accepted for a variety of reasons (ie. Is the buyer paying all cash or is the buyer requiring financing? Does the buyer have a trade-in vehicle that needs to be sold as well? How many times has the buyer backed out of a highest bid?). The generated win rate percentage takes into account the potentiality that things like those may happen. Technically speaking, if every highest offer was accepted 100% of the time, any offers lower than the highest offer would have a win ratio of 0%.</p>
      </div>
    </div>
  </div>

</div>
