<section class="login-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-7 col-12 text-md-left text-center">
              <h1>Welcome to POST</h1>
              <p>Enter your details below to Reset Password</p>
          </div>
      </div>
  </div>
</section>

<section class="reset-form">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-9 p-md-5 pt-md-4 pt-4 m-auto text-center">
        <h1>Reset Password</h1>
        <p>
          Please enter your new password
        </p>

        <div class="form pt-md-4 pt-3">
          <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <label>New Password</label>
              <input
                [ngClass]="{
                  invalid:
                    (submitted || f['password'].touched) && f['password'].errors
                }"
                formControlName="password"
                class="form-control"
                type="password"
              />
              <div
                class="invalid-class"
                *ngIf="submitted || f['password'].touched"
              >
                <ng-container *ngIf="f['password'].errors?.['required']"
                  >New Password is required</ng-container
                >
                <ng-container *ngIf="f['password']?.errors?.['minlength']"
                  >New Password must be 6 character long</ng-container
                >
              </div>
            </div>

            <div class="form-group mb-4">
              <label>Re-type New Password</label>
              <input
                [ngClass]="{
                  invalid:
                    (submitted || f['confirm_password'].touched) &&
                    f['confirm_password'].errors
                }"
                formControlName="confirm_password"
                class="form-control"
                type="password"
              />
              <div
                class="invalid-class"
                *ngIf="submitted || f['confirm_password'].touched"
              >
                <ng-container *ngIf="f['confirm_password'].errors?.['required']"
                  >Re-type New Password is required</ng-container
                >
                <ng-container *ngIf="f['confirm_password']?.errors?.['mustMatch']"
                  >Re-type New Password is not matching</ng-container
                >
              </div>
            </div>

            <div class="form-group mt-5">
              <div class="text-center">
                <button
                  type="submit"
                  class="loginbtn"
                  [disabled]="formSubmitting"
                >
                  <span class="spinner" *ngIf="formSubmitting"></span>
                  <ng-container *ngIf="!formSubmitting">Reset</ng-container>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
