 <section class="breadcrumb pb-0 mb-1 pl-md-2 pl-0">
    <div class="container">
        <ol class="pl-0">
            <li class="breadcrumb-item pointer"><a routerLink="/inventory">Browse</a></li>
            <li class="breadcrumb-item active pointer">
                <a>{{ carDetail?.make }} </a>
            </li>
        </ol>
    </div>
</section>
<section class="car-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

                <div class="car-description mt-0 new_car_detail mt-4">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <h3 style="text-transform: uppercase;">{{ carDetail?.year }} ||
                                {{carDetail?.make}} || {{carDetail?.model}}
                            </h3>
                            <ul class="p-0 mb-1">
                                <li>
                                    {{ carDetail?.mileage | number}}&nbsp;&nbsp;Miles&nbsp;&nbsp;•&nbsp;&nbsp; {{
                                    carDetail?.city }}&nbsp; {{ carDetail?.state }} &nbsp; {{ carDetail?.zip_code }}
                                    &nbsp;&nbsp;
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-12 col-12">
                            <div class="d-block mb-4 mt-2">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-3 col-3">
                                        <div class="certify_img">
                                            <a [attr.href]="carDetail?.document_upload?.length ?  carDetail?.document_upload[0]?.doc_file: null"
                                        target="_blank">
                                        <img src="../../../../../assets/img/detail/1.png" alt="" />
                                    </a>   </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-3 col-3">
                                        <div class="certify_img">
                                            <a [attr.href]="carDetail?.document_upload?.length ?  carDetail?.document_upload[1]?.doc_file: null"
                                            target="_blank">
                                            <img src="../../../../../assets/img/detail/2.png" alt="" />
                                        </a>
                                     </div>
                                    </div>
                                </div>
                            </div>

                            <div class="right_btn_detail mt-2 mb-2">
                                <div class="row">
                                    <div class="col-md-6 col-6">
                                        <div class="buy_now_box">
                                            <p> $ {{carDetail?.minimum_reserve_price}}</p>
                                            <button type="button" class="btn buy_now_btn1" data-toggle="modal"
                                                data-target="#buyNowModalMobile" (click)="buynow()">Buy now</button>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-6">
                                        <div class="buy_now_box">
                                            <form action="" [formGroup]="makeOffer">
                                                <input class="form-control" placeholder="Enter Amount"
                                                    formControlName="value" style="text-align:center;" />
                                                <button type="button" class="btn make_offer_btn1" data-toggle="modal"
                                                    data-target="#makeOfferMobile" [disabled]="makeOffer.invalid"
                                                    (click)="clearValue()">
                                                    Make an offer
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button class="specialist_btn btn" routerLink="/contact-us"
                                        routerLinkActive="active">
                                        talk to a specialist
                                    </button>
                                </div>

                            </div>

                            <div class="border-bottom-div1 pt-0 pb-3 pb-md-3 mb-0"> </div>

                            <ul class="p-0 product_speciality mt-3 mb-0">
                                <li>
                                    <img src="/assets/img/inventory/icons/card.svg" class="mr-2" alt="Image" />Secured
                                    Payment
                                </li>

                                <li>
                                    <img src="/assets/img/inventory/icons/inspection.svg" class="mr-2"
                                        alt="Image" />Vehicle Inspection
                                </li>

                                <li>
                                    <img src="/assets/img/inventory/icons/money.svg" class="mr-2" alt="Image" />Money
                                    back Guarantee
                                </li>

                                <li>
                                    <img src="/assets/img/inventory/icons/shipping.svg" class="mr-2"
                                        alt="Image" />Insured Shipping
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-bottom-div1"> </div>

            <div class="col-md-5 col-12">
                <post-graph [carDetail]="carDetail"></post-graph>
            </div>
        </div>
    </div>
</section>
<section class="bid_vehicle vehicle_history mt-0 mb-0">
    <div class="container">
        <h3 class="mb-4">
            Bids Received on Vehicle
        </h3>
        <div class="row">
            <div class="col-md-12 mb-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">DATE</th>
                                <th scope="col" style="text-align: right;  filter: blur(8px);-webkit-filter: blur(8px);"
                                    *ngIf="this.userInfos==false">Amount</th>
                                <th scope="col" style="text-align: right;" *ngIf="this.userInfos==true">Amount</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="this.userInfos==true&& bidList!=''">
                            <tr *ngFor="let item of bidList ||0">
                                <td style="color: red;" *ngIf="item.is_buy==true">{{item.created_at | date: 'MMMM d, y'
                                    }}</td>
                                <td *ngIf="item.is_buy==false">{{item.created_at | date: 'MMMM d, y'}}</td>
                                <td class="price_bid1" style="color: red;" *ngIf="item.is_buy==true">$
                                    {{item.offer_price}}</td>
                                <td class="price_bid1" *ngIf="item.is_buy==false">$ {{item.offer_price}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="this.userInfos==true && bidList==''">
                            <p class="noBid">
                                No offers.
                            </p>
                        </tbody>
                        <tbody *ngIf="this.userInfos==false ">
                            <tr>
                                <td class="price_bid"> February 4, 2022</td>
                                <td class="price_bid">$ 255,000</td>
                            </tr>

                            <tr>
                                <td class="price_bid">February 5, 2022</td>
                                <td class="price_bid">$ 254,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="bid_popup" *ngIf="this.userInfo==false">
                    <p>
                        All Received Bids <br /> can be checked after logging in.
                    </p>

                    <button class="bid_popup_btn" routerLink="/login" routerLinkActive="active">
                        Login
                    </button>
                </div>
            </div>
        </div>

        <div class="border-bottom-div1"> </div>
    </div>
</section>

<section class="mb-5">
    <div class="container">
        <div class="vehicle_history mt-4">
            <post-finance-calculater></post-finance-calculater>
        </div>
    </div>
</section>

<section class="car-maincontent mt-3">
    <div class="container">
        <div class="row" *ngIf="carDetail.market_modification_description || carDetail?.vehicle_condition_description">
            <div class="col-md-3">
                <h4 class="mb-3">Description</h4>
            </div>
            <div class="col-md-9">
                <div class="border-bottom-div1">
                    <p>
                        {{ (carDetail.market_modification_description || carDetail?.vehicle_condition_description) }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4 class="mb-3">Specifications</h4>
            </div>
            <div class="col-md-9">
                <div class="border-bottom-div1 pb-0">
                    <ul class="p-0 car-specific">
                        <li *ngIf="carDetail?.vin">
                            VIN No.
                            <span> {{ carDetail?.vin }}</span>
                        </li>
                        <li *ngIf="carDetail?.transmission">
                            Transmission
                            <span> {{ carDetail?.transmission }} </span>
                        </li>
                        <li *ngIf="carDetail?.body_type">
                            Body Type
                            <span> {{ carDetail?.body_type }}</span>
                        </li>
                        <li *ngIf="carDetail.engine">
                            Engine
                            <span> {{ carDetail?.engine }}</span>
                        </li>
                        <li *ngIf="carDetail?.drive_type">
                            Drive Type
                            <span> {{ carDetail?.drive_type }}</span>
                        </li>
                        <li *ngIf="carDetail?.fuel_type">
                            Fuel Type
                            <span> {{ carDetail?.fuel_type }}</span>
                        </li>
                        <li *ngIf="carDetail?.exterior_color">
                            Exterior Color
                            <span> {{ carDetail?.exterior_color }}</span>
                        </li>
                        <li *ngIf="carDetail?.trim">
                            Trim
                            <span> {{ carDetail?.trim }}</span>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="row toggleinfo info_car_mob mt-2">
            <div class="col-md-3">
                <h4 class="mb-3">Additional Information</h4>
            </div>
            <div class="col-md-9">
                <div class="border-bottom-div1">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">How did you purchased your vehicle?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch text-detail">
                                    {{ carDetail.purchased | titlecase }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Has the vehicle been in an accident?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.has_accident === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.has_accident === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="carDetail.has_accident === 'YES'">
                        <div class="row">
                            <label class="col-md-8 col-7">Has any accident damage to your vehicle been fully
                                repaired?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.fully_repaired === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.fully_repaired === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Does your vehicle have any exterior damage, including hail
                                damage?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.accident === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.accident === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Does your vehicle have any issues that would stop us from
                                driving
                                it?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.run_and_drive === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.run_and_drive === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Does your vehicle have mechanical defects or dashboard warning
                                lights?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.warning_light === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.warning_light === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Are there any modifications to your vehicle (e.g. suspension,
                                engine, etc.)?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.modifications === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.modifications === 'NO'"
                                        src="../../../../../assets/icons/uncheck.png" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">Has your vehicle been smoked in?</label>
                            <div class="col-md-4 col-5">
                                <label class="switch image-border1">
                                    <img *ngIf="carDetail.smoked === 'YES'"
                                        src="../../../../../assets/icons/checked.png" alt="" />
                                    <img *ngIf="carDetail.smoked === 'NO'" src="../../../../../assets/icons/uncheck.png"
                                        alt="" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">
                                How many keys do you have for this vehicle?
                            </label>
                            <div class="col-md-4 col-5 pl-md-2 pl-4">
                                <label class="switch text-detail">{{
                                    carDetail.keys
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">
                                What is the condition of your vehicle
                            </label>
                            <div class="col-md-4 col-5 pl-md-2 pl-4">
                                <label class="switch text-detail">{{
                                    carDetail.condition
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-8 col-7">
                                How many miles have you driven on your current tires?
                            </label>
                            <div class="col-md-4 col-5 pl-md-2 pl-4">
                                <label class="switch text-detail">{{
                                    carDetail.current_miles
                                    }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular_brand dropped_slider recent_slider_post pt-0 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <span class="black_border"></span>
                <h2 class="mt-3 mb-3">Recent Post</h2>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
                <owl-carousel-o class="mt-3" [options]="customOptionsMobile">
                    <ng-template class="col-md-4" carouselSlide *ngFor="let popularCars of popularCars1">
                        <div class="post_box">
                            <div class="latest_post_img">
                                <img [src]=popularCars.front_image alt="Image"
                                    [routerLink]="'/car-details/' + popularCars?.id" />
                                <a class="star_img_link">
                                    <img src="/assets/icons/star_black.png" alt="Star"
                                        *ngIf="!popularCars.is_featured" />
                                </a>
                                <a class="star_img_link">
                                    <img src="/assets/icons/star.svg" alt="Star" *ngIf="popularCars.is_featured" />
                                </a>
                                <span class="book_img">
                                    <img (click)="favoriteToggle(popularCars.id, true)" *ngIf="!popularCars.is_favorite"
                                        src="../../../../assets/icons/bookmark.png" alt="Bookmark" />

                                        <img *ngIf="popularCars.is_favorite" (click)="favoriteToggle(popularCars.id, false)"
                                        src="../../../../assets/icons/filled_bookmark.png" alt="Bookmark" />
                                </span>
                            </div>
                            <a>
                                <div class="post_box_content">
                                    <div class="post_head mt-2 mb-0">
                                        <h3 class="mb-1">{{popularCars.make}} | {{popularCars.model}}</h3>
                                        <ul class="p-0 mb-2">
                                            <li>
                                                {{popularCars.tirm}}
                                            </li>
                                        </ul>
                                        <p>
                                            {{popularCars.state}}&nbsp;|&nbsp;{{popularCars.city}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="makeOfferMobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <post-make-offer *ngIf="makeoffer"></post-make-offer>
        <post-login *ngIf="login"></post-login>
    </div>
</div>

<div class="modal fade" id="buyNowModalMobile">
    <div class="modal-dialog">
        <post-buy-now *ngIf="buyNow"></post-buy-now>
        <post-login *ngIf="loginbuy"></post-login>
    </div>
</div> -->