<section class="breadcrumb pb-0 mb-1">
  <div class="container">
    <ol class="pl-0">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <!-- <li class="breadcrumb-item"><a>All</a></li> -->
      <!-- <li class="breadcrumb-item active">Audi Q8</li> -->
    </ol>
  </div>
</section>

<section class="appraisel-thank text-center paddingsame section-height">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="width: 100%;text-align: center;">
        <h5 class="mb-md-5 mb-3">My Appraisal</h5>
        <img src="../../../../../assets/img/detail/right.png" class="mb-4" alt="img" />
        <h6 class="mb-3">Thank you for submitting</h6>
        <p class="mb-5">
          We received your car info. <br />
          Our team will look into it and get back to you shortly.
        </p>
        <button
          type="button"
          class="btn-blue1 mb-md-0 mb-4"
          (click)="homePage()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</section>
