
<section class="login-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-7 col-12 text-md-left text-center">
              <h1>Welcome to POST</h1>
              <p>Enter your details below to Forgot Password</p>
          </div>
      </div>
  </div>
</section>

<section class="forgot-form">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-9 p-md-5 pt-md-4 pt-4 m-auto text-center">
        <h1>Forgot your Password?</h1>
        <p>
          Enter your registered email address below, we will send the
          instructions.
        </p>
        <div class="form pt-md-4 pt-3">
          <form [formGroup]="fPForm" (ngSubmit)="sendMail()">
            <div class="form-group mb-2">
              <label>Email Address</label>
              <input
                [ngClass]="{
                  invalid:
                    (submitted || f['email'].touched) &&
                    (f['email'].errors?.['required'] || f['email'].errors?.['email'])
                }"
                formControlName="email"
                class="form-control"
                type="text"
                (keydown)="keydown($event)"
              />
              <div class="invalid-class" *ngIf="submitted || f['email']?.touched">
                <ng-container *ngIf="f['email']?.errors?.['required']"
                  >Email is required</ng-container
                >
                <ng-container *ngIf="f['email']?.errors?.['email']"
                  >Please Enter valid email address</ng-container
                >
              </div>
            </div>
            <div class="form-group mt-0">
              <div class="text-left d-inline-block text-login">
                <a routerLink="/login" class="">Back to the Login</a>
              </div>
            </div>
            <div class="form-group mt-3">
              <div class="d-block">
                <button
                  type="submit"
                  class="loginbtn"
                  [disabled]="formSubmitting"
                >
                  <span class="spinner" *ngIf="formSubmitting"></span>
                  <ng-container *ngIf="!formSubmitting">Submit</ng-container>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
