<!-- Modal content-->
<div class="modal-content make-anoffercontent">
    <div class="modal-header border-0">
        <h5>Login </h5>
        <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
                <label>Email Address</label>
                <input class="form-control" formControlName="email" [ngClass]="{
                    invalid: (submitted || f.email.touched) && f.email.errors
                     }" type="text" (keydown)="keydown($event)" />
                <div class="invalid-class" *ngIf="submitted || f.email?.touched">
                    <ng-container *ngIf="f.email?.errors?.required">Email is required</ng-container>
                    <ng-container *ngIf="f.email?.errors?.email">Please Enter valid email address</ng-container>
                </div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" [ngClass]="{
                invalid: (submitted || f.password?.touched) &&(f.password?.errors?.required ||
                     f.password?.errors?.minlength)
                   }" formControlName="password" />
                <div class="invalid-class" *ngIf="submitted || f.password?.touched">
                    <ng-container *ngIf="f.password?.errors?.required">Password is required</ng-container>
                    <ng-container *ngIf="f.password?.errors?.minlength">Password must be 6 character long</ng-container>
                </div>
            </div>

            <div class="form-group mt-2">
                <div class="text-left d-block text-forgot" style="cursor:pointer;">
                    <a (click)="forgetpassword()" class=""style="text-decoration: underline;">Forgot Password?</a>
                </div>
            </div>

            <div class="form-group mt-3">
                <div class="d-block">
                    <button type="submit" class="loginbtn" class="btn make-offersavebtn" [disabled]="formSubmitting">
                       <span class="spinner" *ngIf="formSubmitting"></span>
                       <ng-container *ngIf="!formSubmitting">Login</ng-container>
                    </button>
                </div>
              </div>

            <div class="form-group mt-3 pt-md-4 text-center d-none">
                <div class="col-lg-12 control">
                    <div class="noaccount">
                        Get your best offer
                        <a routerLink="/appraisal">
                           Sell My Car
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>
