#inventory {
  position: relative;
  top: 0px;
}

.car-section h4 {
  color: #181818;
  font-family: Gotham medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 17px;
  text-transform: capitalize;
}

.car-section h4 span {
  font-size: 15px;
}

.sort-filter {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px 0 4px 4px;
  text-align: left;
  position: relative;
}

.sort-filter label {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000;
  margin: 5px 0px;
}

.sort-filter select {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000;
  background: none;
  border: none;
  vertical-align: middle;
  padding: 5px 13px 3px 6px;
  text-align: center;
  cursor: pointer;
}

.sort-filter select:focus {
  outline-offset: 0 !important;
  outline: none;
}

.car-filter ul {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 0px;
}

.car-filter ul li {
  display: inline-block;
  padding: 6px 13px 8px;
}

select:focus {
  outline-offset: 0;
}

.car-filter li a {
  cursor: pointer;
}

.mobview {
  display: none;
}

.mob-search-view {
  display: none;
}

select {
  -webkit-appearance: none;
}

.list-heart {
  font-size: 20px;
  padding: 4px 0;
  align-items: center;
  display: inline-flex;
  color: #000000;
}

li a.active .list-heart {
  color: #3d75f7;
}

.mobshow {
  display: none !important;
}

button.btnshow {
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  color: #3d75f7;
  text-decoration: none;
}

button.btnshow.btn:focus {
  border: none !important;
}

.btnshow .spinner {
  border-top-color: #3d75f7;
  border-left-color: #3d75f7;
}

/*inventory tab design*/
.car-section .car-filter .nav-tabs {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.car-section .car-filter .nav-tabs .nav-link.active {
  background: #3d75f7;
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.car-section .car-filter .nav-tabs .nav-link {
  border: none;
  width: 33.33%;
  text-align: center;
  height: 36px;
  padding-top: 10px;
  cursor: pointer;
  font-family: Gotham regular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.car-section .car-filter .nav-tabs .nav-link:hover {
  border: none;
}

.nav_tab {
  border: none !important;
  margin: 0;
  margin-top: 15px;
}

.nav_tab li {
  padding: 0 !important;
}
#pills-tab {
  overflow-y: scroll;
  flex-wrap: inherit !important;
  height: 65px;
}
.nav_tab .nav-link {
  background: #eff2f9;
  margin-right: 15px;
  border-radius: 50px;
  color: #0580ab;
  font-family: Gotham medium;
  font-size: 14px;
  // padding-top: 7px !important;
  white-space: nowrap;
  height: 40px;
  min-width: 100px;
}

.nav_tab .nav-link.active {
  background: #cdcdd0;
}

.nav_tab .nav-item:last-child .nav-link {
  margin-right: 0px;
}

#pills-tabContent {
  border-top: 1px solid #ccc;
  background-color: #ffff;
  padding: 10px;
  padding-bottom: 5px;
  position: relative;
  top: -6px;
}

.milage span {
  width: 45%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 7px 5px;
  padding-left: 14px;
  margin-bottom: 15px;
}

#pills-tabContent .form-label {
  font-family: Gotham medium;
}

.min_mx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.min_mx p {
  margin-bottom: 0;
  font-size: 14px;
}

.min_mx .form-select {
  width: auto;
  border: none;
  font-size: 14px;
  text-align: right;
  font-family: Gotham medium;
  position: relative;
  left: 15px;
  direction: rtl;
}

.input_search {
  position: relative;
  margin-top: 10px;
  width: 98%;
}

.input_search input {
  border-radius: 100px;
  font-family: Gotham medium;
  font-size: 15px;
  height: 42px;
  color: #495057;
}

.input_search input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

.input_search img {
  position: absolute;
  right: 10px;
  background-color: #157ddc;
  border-radius: 100px;
  padding: 6px 6px;
  cursor: pointer;
  top: 8px;
}

select.new_select {
  background-color: transparent;
  border: none;
  margin-left: 2px;
  font-family: Gotham medium;
}

.web_input {
  width: 30%;
}

.clear_box {
  text-align: right;
}

.clear_box a {
  font-family: Gotham medium;
  color: #000;
  font-size: 14px;
  text-decoration: underline;
}

.sort_by {
  font-size: 15px;
  margin-bottom: 4px;
  padding-right: 0;
  padding-top: 5px;
}

.tab-content > .active {
  display: block;
  margin-bottom: 15px;
}

#staticBackdrop .modal-dialog {
  top: 20%;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
}
#staticBackdrop .modal-dialog h5 {
  font-family: Gotham medium;
  font-size: 15px;

  margin-top: 15px;
}
#staticBackdrop .modal-dialog p {
  font-family: Gotham medium;
  font-size: 13px;
}
#staticBackdrop .modal-dialog a {
  font-family: Gotham medium;
  font-size: 13px;
  text-decoration: underline;
  color: #000;
  display: block;
  margin-bottom: 15px;
}
#staticBackdrop i {
  color: #0580ab;
  margin-right: 5px;
}
#staticBackdrop input {
  border: 1px solid #0580ab;
  border-radius: 100px;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  text-indent: 10px;
  padding: 0;
}
#staticBackdrop .modal-content {
  border-radius: 10px;
}
#staticBackdrop .input_div {
  position: relative;
}
#staticBackdrop button {
  position: absolute;
  top: 9px;
  right: 10px;
  background-color: #0f75d7;
  border: none;
  color: #fff;
  padding: 3px 26px;
  border-radius: 100px;
  font-family: Gotham medium;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .mobhide {
    display: none;
  }

  .input_search input {
    font-size: 14px;
    font-family: Gotham medium;
  }

  .input_search input::placeholder {
    color: #ccc;

    .input_search img {
      padding: 8px 5px !important;
    }
  }

  .viewhide {
    display: none !important;
  }

  .mobview {
    display: inline-block;
  }

  .mob-search-view {
    display: inline-block;
    width: 100%;
  }

  .car-section h4 {
    font-size: 20px;
    line-height: 26px;
    margin: 21px 0px 0px;
  }

  .mob-search {
    display: inline-block;
    width: 100%;
  }

  .mob-search h3 {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #111111;
    margin-bottom: 16px;
    display: inline-block;
  }

  .sort-filter select {
    padding: 4px 6px 3px 4px;
    font-size: 11px;
    text-align: center;
  }

  .sort-filter {
    padding: 7px 0px 5px 4px;
    margin: 0px 10px 0px 0px !important;
    width: 65%;
    float: none;
    display: inline-block !important;
  }

  .mob-search h3 {
    font-size: 14px;
  }

  .sort-filter.pull-right:last-child {
    margin-right: 0px !important;
  }

  .mob-search-view .sort-filter {
    padding: 7px 5px 4px 5px;
    width: calc(100vw - 200px);
    margin: 12px 0px 12px 7px !important;
  }

  .sort-filter label {
    font-size: 11px;
  }

  .sidebar-modal,
  .sidebar-invisible {
    background: #111 !important;
    z-index: 9999999;
  }

  .close-sidebar {
    opacity: 1;
  }

  .sidebar-invisible .modal-header {
    border: none;
  }

  .mobshow {
    display: inline-block !important;
  }

  .iconmobshow {
    margin-top: 0px;
  }

  .iconmobshow ul li {
    display: inline-block;
    padding: 7px 13px 6px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-sticky {
    // padding: 15px 0px 0px;
    margin: 0px 0px 50px;
    height: 100%;
    // position: sticky;
    // top: 10px;
  }

  .sidebar-invisible {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .web_input {
    width: 40%;
  }
}
@media screen and (min-width: 200px) and (max-width: 576px) {
  .sort-filter img {
    display: none;
  }

  .sort-filter label {
    padding: 0px 3px;
  }

  .sort-filter {
    padding: 7px 0px 5px 4px;
    margin: 0px 9px 0px 0px !important;
  }

  .sort_img_mob img {
    display: inline-block;
    width: 22px;
    height: 17px;
  }

  .statuslab {
    width: 31%;
  }

  .sort-filter select {
    font-weight: 600;
    width: 56%;
  }
}

@media screen and (min-width: 2000px) {
  .largewidth-container {
    max-width: 1900px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 439px) {
  .sort-filter select {
    padding-top: 7px;
  }

  .milage span {
    width: 46%;
  }

  .input_search img {
    padding: 8px 5px !important;
  }
}

.largewidth-container {
  min-height: calc(100vh - 460px);
}

@media screen and (max-width: 425px) {
  #staticBackdrop .modal-dialog {
    top: 22%;
  }
}

::ng-deep {
  .ngx-slider .ngx-slider-pointer:after {
    content: "" !important;
    width: 8px !important;
    height: 8px !important;
    position: absolute !important;
    top: 12px !important;
    left: 12px !important;
    border-radius: 4px !important;
    background: transparent !important;
  }

  .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    top: -6px !important;
    z-index: 3 !important;
    border-radius: 10px !important;
    background-color: #0d70f0fc !important;
  }

  .ngx-slider .ngx-slider-selection {
    z-index: 2 !important;
    background: #0d70f0fc !important;
    border-radius: 2px !important;
  }

  .ngx-slider .ngx-slider-bar {
    left: 0 !important;
    width: 100% !important;
    height: 7px !important;
    z-index: 1 !important;
    border-radius: 5px !important;
  }

  .ngx-slider .ngx-slider-bubble {
    cursor: default !important;
    bottom: 16px !important;
    padding: 1px 3px !important;
    color: transparent !important;
    font-size: 16px !important;
  }

  .ngx-slider {
    display: inline-block !important;
    position: relative !important;
    height: 4px !important;
    width: 100% !important;
    margin: 14px 0 15px !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    touch-action: pan-y !important;
  }
}
