$midnight: #2c3e50;
$clouds: #ecf0f1;

a:hover {
  text-decoration: none;
}
.sidebar {
  padding: 5px 10px 15px 10px;
  height: 100vh;
}
.sidebar h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.border-all {
  border-bottom: 1px solid #e6e8ed;
  margin: 3px 0px;
  display: block;
  width: 100%;
}

/*accordion*/
.accordion {
  background-color: #111111;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  padding: 10px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: all 0.5s;
  -webkit-appearance: none;
}

.accordion::after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active::after {
  content: "\2796";
}
.panel {
  padding: 0 10px;
  background-color: transparent;
  // max-height: 0;
  transition: max-height 0.5s;
  // overflow: hidden;
}
.card {
  background-color: transparent;
}
.accordion-main .card {
  border: none;
}
.accordion-main .card-header {
  background: transparent;
  border: none;
  padding: 1px 6px;
}
.accordion-main .card-body {
  padding: 5px;
  max-height: 19em;
  overflow-y: auto;
}
.transmission label {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 10px;
}
.transmission label span {
  color: #a9a7a7;
}
.budget .form-check {
  display: flex;
}
.color-section {
  margin-left: -10px;
}
.color-section li {
  display: inline-block;
  width: 24.33%;
  margin: 10px 0px;
  text-align: center;
  padding: 0px 0 10px;
}
.color-section .color-code {
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50px;
  margin: 9px auto;
}
.color-section p {
  margin: 0px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #fbfbfb;
}
.color-section span {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #868686;
}
.color-section li.active {
  background: #f6f6f6;
}
.color-section li.active p {
  font-weight: bold;
  color: #333;
}
.color-section li.active:after {
  display: none;
}
.color-white {
  background: #ffffff;
}
.color-silver {
  background: #d6d6d6;
}
.color-black {
  background: #111111;
}
.color-red {
  background: #e21b1b;
}
.color-yellow {
  background: #feb948;
}
.color-purple {
  background: #6d448b;
}
.color-gold {
  background: #c29050;
}
.color-blue {
  background: #3b5872;
}
.color-brown {
  background: #cf7b5b;
}
.color-orange {
  background: #f09800;
}
.color-green {
  background: #1a7b1a;
}
.color-gray {
  background: #868686;
}
.filter-clear,
.filter-clear:hover {
  display: inline-block;
  float: right;
  padding: 3px 0px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.color-section li {
  cursor: pointer;
}

.bodytype-content {
}
.bodytype-content li {
  display: inline-block;
  width: 33.33%;
  margin: 10px 0px;
  text-align: center;
  padding: 14px 0px 2px;
}
.bodytype-content h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  margin: 10px 0px 0px;
}
.bodytype-content span {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #fbfbfb;
  display: inline-block;
  margin: 0px;
}
.bodytype-content li.active h5,
.bodytype-content li.active span {
  color: #333;
  font-weight: bold;
}
.kilometer-content {
  padding: 0px 13px !important;
}
.body-img {
  display: block;
  min-height: 40px;
}
.bodytype-main {
  height: 60px;
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#model.searchbar {
  position: relative;
}
#model.searchbar:after {
  position: absolute;
  content: "";
  background-image: url("/assets/icons/select.png");
  top: 16px;
  right: 15px;
  height: 15px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hide {
  display: none;
}

/*----------Custom-Checkbox---------*/
input[type="checkbox"] {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  position: absolute;
  content: "";
  display: inline-block;
}
input[type="checkbox"]::before {
  height: 22px;
  width: 22px;
  border: 2px solid #e4e4e4;
  left: -1px;
  top: -3px;
  background-color: #fff;
  border-radius: 6px;
}
input[type="checkbox"]::after {
  height: 7px;
  width: 11px;
  left: 5px;
  top: 2px;
}
input[type="checkbox"]:checked::after {
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before {
  background-color: #3d75f7;
  border-color: #3d75f7;
  box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06),
    0px 4px 4px rgba(50, 50, 71, 0.08);
}
::ng-deep .ngx-slider .ngx-slider-selection {
  z-index: 2;
  background: #0db9f0;
  border-radius: 2px;
  border: 2px solid #3d75f7;
}
::ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #3d75f7 !important;
  border: 2px solid #3d75f7;
  width: 15px !important;
  height: 15px !important;
  top: -7px !important;
}
::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: #fff !important;
  display: none !important;
}
::ng-deep .ngx-slider .ngx-slider-pointer:after {
  display: none !important;
}
::ng-deep .ngx-slider .ngx-slider-bar {
  border: 2px solid #d6d6d6;
}
::ng-deep .ngx-slider .ngx-slider-tick {
  margin-left: 5px !important;
}
.sidebarnone .input-search {
  position: relative;
}
.submit_arrow {
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
 z-index: 99;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .color-section {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1240px) {
  .color-section li {
    width: 33.33%;
  }
  .body-img {
    min-height: 37px;
    width: 54px;
    overflow: hidden;
    margin: 0 auto;
  }
  .body-img img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .color-section .color-code {
    height: 35px;
    width: 35px;
  }
  .color-section li {
    width: 33.33%;
  }
  .bodytype-content li {
    width: 48.33%;
  }
  .body-img {
    min-height: 37px;
    width: 54px;
    overflow: hidden;
    margin: 0 auto;
  }
  .body-img img {
    width: 100%;
  }
  .accordion {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  ::ng-deep .ngx-slider .ngx-slider-tick-legend {
    color: #fff;
  }
  .year_box {
    padding-right: 11px !important;
  }
}
.input-filter {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: black;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 10px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: all 0.5s;
    margin-bottom: 0px;
    /* Icon */
    &:hover {
      // background: darken($midnight, 10%);
    }
    &::after {
      content: "\02795";
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
      // background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      content: "➖";
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 0;
    margin-bottom: 15px;
  }
}
::ng-deep.ngx-slider-inner-tooltip {
  display: none !important;
}

::ng-deep span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max,
::ng-deep span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min {
  outline: none;
}
::ng-deep
  span.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-floor,
::ng-deep
  span.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-ceil,
::ng-deep.ngx-slider-inner-tooltip {
  display: none;
}
::ng-deep .ngx-slider.animate .ngx-slider-pointer {
  transition: 0.1s linear !important;
}
::ng-deep .ngx-slider.animate .ngx-slider-bar-wrapper,
::ng-deep .ngx-slider.animate .ngx-slider-pointer {
  transition: 0.1s linear !important;
}

/*new*/
.year_box {
  height: 60px;
  border: 1px solid #e6e8ed;
  border-radius: 10px;
  padding: 3px 0px 0px;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}
.year_box_right {
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}
.year_box select {
  border: none;
  position: relative;
  background-color: #111111;
  font-size: 13px;
  padding: 0px 0px 0px 15px;
  text-align: left;
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  color: #fff;
}
.year_box label {
  font-family: Gotham regular !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #d9dadd;
  margin: 0px;
  padding-left: 15px;
}
.selectafter {
  position: relative;
}
.selectafter:after {
  position: absolute;
  content: "";
  background-image: url("/assets/icons/select.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 12px;
  right: 2px;
  top: -4px;
  background-position: right;
  background-size: contain;
}

.selectafter_mob:after {
  top: 14px;
}
.save-search {
  border-bottom: 1px solid #e6e8ed;
  width: 100%;
  // height: 178px;
  margin-top: -19px;
  p {
    padding-left: 20px;
    padding-top: 20px;
  }
  mat-chip {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 4px 4px 7px 4px;
  }
}
.example-chip-list {
  width: 100%;
  .match_search {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 9px 12px 0px;
    font-family: Gotham regular !important;
    p {
      color: #242833;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }
    p:last-child {
      color: #fff;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      .heart_img {
        width: 16px;
      }
    }
  }
  p {
    padding-left: 0;
  }
  img[alt="cancel"] {
    margin-right: 5px;
    cursor: pointer;
  }
  mat-chip {
    background: #fafafa;
    padding: 8px 8px;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    color: #4f4f4f;
    height: auto;
  }
  mat-chip img {
    padding-right: 4px;
  }
}
.clear_text {
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0px !important;
  margin: 7px 0px;
}
.input-search {
  input {
    background-color: transparent !important;
    color: #fff !important;
    position: relative;
    z-index: 99;
  }
}
.searchButton{
  background: none;
  border: none;

}
