<div class="inventory-work mt-md-0 mt-3 mb-md-0 mb-4 ">
  <div class="row">
    <div class="col-md-2 pr-md-0">
      <div class="inventory-head">
        <h4>HOW IT WORKS</h4>
      </div>
    </div>
    <div class="col-md-5 col-6 pl-md-2 p-0">
      <div class="inventory-col inventory-col1">
        <div class="inventory-img">
          <img src="../../../../../assets/img/inventory/Explore Icon.svg" alt="img" />
        </div>
        <div class="inventory-col-content">
          <h5>Browse Online</h5>
          <p>
            Explore thousands of vehicles with new inventory added every day.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-6 pl-md-0 p-0">
      <div class="inventory-col">
        <div class="inventory-img">
          <img src="../../../../../assets/img/inventory/make-offer.svg" alt="img" />
        </div>
        <div class="inventory-col-content">
          <h5>Make an Offer</h5>
          <p>
            Find the one, submit your bid.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

